*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container_simulator{
    margin: 30px 45px auto;
    width: calc(100% -90px);
    height: 600px;
    padding:  30px;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
}

.container_title{
    width: 100%;
    height: 50px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_infos_simulator {
    display: flex;
    width: 50%;
    height: 100%;
    /* background: #000; */
}
